<template>
    <link href="../../resources/css/styles.css" rel="stylesheet" />
    
	<center><h2>Welcome to your ToDos</h2> 
        <p>Please sign in to access your ToDo list</p> 
    </div>
   </center>

<div class="form-group col">
     <div class="col-lg-3 col-lg-offset-5">  

 <label for="email"></label>Email</label> 
    <input value.bind="email" type="email" class="form-control" id="email" placeholder="Email"></input>
    <label for="password">Password</label> 
    <input value.bind="password" type="password" class="form-control" id="password" placeholder="Password"></input>
<br>
<button type="button" class="btn btn-login" click.trigger="login()">Login</button>  
    <button type="button" class="btn btn-link" click.trigger="showRegister()">Register</button>
    <br>
    </br>
    <div id="errorMsg" class ="textcolor" innerhtml.bind="loginError"></div>     
</div>
</div>
</div>    
</div>


</template>