<template>
		<br></br>
                        <i click.trigger="back()" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                        <button type="button" class="btn btn-login" click.trigger="back()">BACK</button>
                        <br></br>
	</div>	
	<form>
                <center>
                        <div class="col-lg-3 col-lg-offset-5">  
		<div class="form-group topMargin">
			  <label for="todoInput">Todo *</label>
			  <input value.bind="todoObj.todo" type="text" class="form-control" id="todoInput" aria-describedby="todoHelp" 
				placeholder="Enter ToDo">
			  <small id="todoHelp" class="form-text text-muted">
				Name for the ToDo.</small>
                </div>
        </center>

        <center>
        <div class="form-group">
                <div class="col-lg-3 col-lg-offset-5">
            <label for="descriptionInput">Description</label>
            <textarea value.bind="todoObj.description" type="text" class="form-control" 
			id="descriptionInput" aria-describedby="descriptionHelp" 
			placeholder="Enter Description"></textarea>
            <small id="descriptionHelp" class="form-text text-muted">
			A longer description of ToDo if required.</small>
        </div>
</center>

<center>
<div class="form-group">
                <div class="col-lg-3 col-lg-offset-5">
                <label for="priorityInput">Priority</label>
                <select value.bind="todoObj.priority" class="form-control" 
            id="exampleFormControlSelect2">
                    <option repeat.for="priority of priorities" value.bind="priority">
            ${priority}</option>
                </select>
                <small id="priorityHelp" class="form-text text-muted">How urgent is this?</small>
            </div>      
            <div class="form-group">
                <div class="col-lg-3 col-lg-offset-5">
                <label for="dueDateInput">Due Date *</label>
                <flat-picker value.bind="todoObj.dateDue"></flat-picker>
                <small id="dueDateHelp" class="form-text text-muted">
            Date ToDo is due.</small>
            </div>
</center>

<center>
    <div class="row">
        <div class="col">
                        <div class="col-lg-3 col-lg-offset-5">
                <label class="btn btn-secondary">
                                Browse for files&hellip; <input type="file" 
                                style="display: none;" 
                                change.delegate="changeFiles()" files.bind="files">
                </label>
                <small id="fileHelp" class="form-text text-muted">
                                Upload any files that you may need.</small>
        </div>	
</center> 

<center>
        <div class="col-8">
                        <div class="col-lg-3 col-lg-offset-5">
                <ul>
                        <li repeat.for="file of filesToUpload" class="list-group-item">
                                ${file.name}<span click.delegate="removeFile($index)" 
                                class="pull-right"><i class="fa fa-trash" aria-hidden="true">
                                </i></span></li>
                </ul>
        
        </div>
</center>
</div>
<br>
<center>
 <button click.trigger="saveTodo()" class="btn btn-login">Save</button>
</br>
</center>
        </form>
    </template>